<header xmlns="http://www.w3.org/1999/html">
  <!--
  <nav class="navbar navbar-inverse">
   <!-- <div class="container-fluid">

      <ul class="nav">
        <li href="#" class="navbar-brand">-->
         <!-- <%= image_tag("night-vision-camera.png", :alt => "Movie Night", size: "40") %>
        </li>
      </ul>
      <ul>
        <li class="nav navbar-header"><%= link_to "Movie Night", '#' %></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li class="nav navbar-right"><%= link_to "Help", '/help' %></li>
        <% if logged_in? %>
            <h1> BANANA SPLIT</h1>
            <li><%= link_to "Users", '/users' %></li>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", '#' %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
            <h1> PIZZA SPLIT</h1>
            <li class="nav navbar-right"><%= link_to "Sign up", 'signup_path' %></li>
            <li class="nav navbar-right"><%= link_to "Log in", 'login_path' %></li>
        <% end %>


      </ul>
    </div>-->
    <!--<div class="row">
      <div class="col-md-1"><%= image_tag("night-vision-camera.png", :alt => "Movie Night", size: "40") %></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"><%= link_to "Movie Night", '#' %></div>
      <div class="col-md-1">/div>
      <div class="col-md-1"><%= link_to "Help", '#' %></div>
      <% if logged_in? %>
      <div class="col-md-1"><%= link_to "Users", '#' %></div>
      <div class="col-md-1"><%= link_to "Profile", current_user %></div>
      <div class="col-md-1"><%= link_to "Settings", '#' %></div>
      <div class="col-md-1"><%= link_to "Log out", logout_path, method: "delete" %></div>
      <% else %>
      <div class="col-md-1"><%= link_to "Sign up", 'signup_path' %></div>
          <div class="col-md-1"><%= link_to "Log in", 'login_path' %></div>
          <%end%>
     </div>
  </nav>-->


  <!---------------------------- -->
    <!-- navbar
      http://bootsnipp.com/snippets/featured/navbar-fixed-on-scrolling-with-transition
    -->

  <!-- JS -->
<script type="text/javascript">
  $(document).ready(function(){

  /**
  * This object controls the nav bar. Implement the add and remove
  * action over the elements of the nav bar that we want to change.
  *
  * @type {{flagAdd: boolean, elements: string[], add: Function, remove: Function}}
  */
  var myNavBar = {

  flagAdd: true,

  elements: [],

  init: function (elements) {
  this.elements = elements;
  },

  add : function() {
  if(this.flagAdd) {
  for(var i=0; i < this.elements.length; i++) {
  document.getElementById(this.elements[i]).className += " fixed-theme";
  }
  this.flagAdd = false;
  }
  },

  remove: function() {
  for(var i=0; i < this.elements.length; i++) {
  document.getElementById(this.elements[i]).className =
  document.getElementById(this.elements[i]).className.replace( /(?:^|\s)fixed-theme(?!\S)/g , '' );
  }
  this.flagAdd = true;
  }

  };

  /**
  * Init the object. Pass the object the array of elements
  * that we want to change when the scroll goes down
  */
  myNavBar.init(  [
  "header",
  "header-container",
  "brand"
  ]);

  /**
  * Function that manage the direction
  * of the scroll
  */
  function offSetManager(){

  var yOffset = 0;
  var currYOffSet = window.pageYOffset;

  if(yOffset < currYOffSet) {
  myNavBar.add();
  }
  else if(currYOffSet == yOffset){
  myNavBar.remove();
  }

  }

  /**
  * bind to the document scroll detection
  */
  window.onscroll = function(e) {
  offSetManager();
  }

  /**
  * We have to do a first detectation of offset because the page
  * could be load with scroll down set.
  */
  offSetManager();
  });
</script>
  <!-- HTML -->
  <nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="brand" class="navbar-brand" href="/">Movie Night</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav navbar-right"><%= link_to "Help",   '#' %></li>
          <% if logged_in? %>
              <li><%= link_to "Users", '/users' %></li>
              <li><%= link_to "Profile", current_user %></li>
              <!--<li><%= link_to "Settings", '#' %></li>-->
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <% else %>
              <li class="nav navbar-right"><%= link_to "Sign up", 'signup_path' %></li>
              <li class="nav navbar-right"><%= link_to "Log in", 'login_path' %></li>
          <% end %>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</header>

